<button class="material-text float-right hover" style="z-index: 10; min-width: 0px !important; margin-right: -20px !important; margin-top: -20px !important; opacity: .5"  mat-icon-button mat-dialog-close>X</button>

<span style="text-align: left; color: rgba(0,0,0,.54)">
<h2 mat-dialog-title style="color: rgba(0,0,0,.87)"> Welcome to Dump!</h2>
<mat-dialog-content>
    Dump is a disposal solutions application which connects Houston area residents with depositories, recycling/donation centers, and landfills
    in their area.<br><br> <strong>Trying to 'dump' something? </strong><br>Simply type the object in question and Dump will return a list of centers able to receive the item, 
    in order of proximity to your current location<br><br> <strong>This project is on-going</strong> <br>
    If you have any feedback or suggestions please send to <span style="color: rgba(0,0,0,.87)"> dump.feedback@gmail.com </span>
</mat-dialog-content>
</span>