<div [style.height.px]="height" fxLayout="column" class="green-background">
<div class="green-background">
  <div *ngIf="!searchDone">
    <div (click)="openInfoDialog()" class="circle text-green">?
    </div>

    <span class="white margin-auto">
      <i class="material-icons" style="background: white; color: #85D9BF;">room</i>

      <mat-form-field *ngIf="addressReady" style="max-width: 320px">
      <input matInput style="overflow: ellipsis !important; text-overflow: ellipsis !important;"  [(ngModel)]="address" value="{{address}}" (setAddress)="getAddress($event)" googleplace>
  </mat-form-field></span>
    <div class="header">
      <h1 class="margin-top-20">Dump</h1>
    </div>
    <typeahead #typeahead (badQuery)="badQuery($event)" (suggestionSelected)="filterQuery($event)" [list]="list" [displayProperty]="'label'"
      [searchProperty]="'label'"></typeahead>
  </div>
  <div *ngIf="searchDone"  class="border-bottom" fxLayout="row" fxLayoutWrap>
    <div (click)="openInfoDialog()" class="circle text-green">?
    </div>
    <div [routerLink]="['/home/']" class="dump-button circle text-green">
      D
    </div>
    <typeahead style="margin-top: 5px" #typeahead (badQuery)="badQuery($event)" (suggestionSelected)="filterQuery($event)"
      [list]="list" [displayProperty]="'label'" [searchProperty]="'label'"></typeahead>
      <span class="white margin-auto" style="min-width: 340px" fxLayout="row">
        <i class="material-icons">room</i>

        <mat-form-field style="max-width: 320px">
          <input style="overflow: ellipsis !important; text-overflow: ellipsis !important;"   matInput [(ngModel)]="address" value="{{address}}" (setAddress)="getAddress($event)" googleplace>
    </mat-form-field></span>
    <div class="margin-left-auto margin-bot-0 height-auto">
    </div>
  </div>
</div>
<div class="white" *ngIf="showBadQuery"> Your query
  <span class="italic">{{badQueryString}}</span> found no listings. Please try again. </div>

<div fxFlex *ngIf="searchDone" fxFlexAlign="start start">
  <router-outlet></router-outlet>
</div>
</div>
