<div [style.height.px]="height" fxLayout="column" class="green-background">
<div class="green-background">
  <div *ngIf="!searchDone">
    <div fxLayout="row">
      <div [routerLink]="['/home/']" class="dump-button circle" 
      matRipple
      [matRippleCentered]="centered">
        D
      </div>
    <div (click)="openInfoDialog()" class="circle cursor-hover"  matRipple
    [matRippleCentered]="centered">?
    </div>
  </div>
   <div class="input-group margin-auto" style="text-align:center; max-width: 400px">
   <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
        <i class="material-icons">room</i>

      </span>
    </div>
    <input type="text" class="form-control"  style="overflow: ellipsis !important; text-overflow: ellipsis !important;" 
    [(ngModel)]="address" value="{{address}}" (setAddress)="getAddress($event)" googleplace>
    
  </div>
    <div class="header">
      <h1 class="margin-top-20">Dump</h1>
    </div>
    <typeahead #typeahead (badQuery)="badQuery($event)" (suggestionSelected)="filterQuery($event)" [list]="list" [displayProperty]="'label'"
      [searchProperty]="'label'"></typeahead>
  </div>
  <div *ngIf="searchDone"  class="border-bottom" fxLayout="row" fxLayoutWrap>

    <div [routerLink]="['/home/']" class="dump-button circle" 
    matRipple
    [matRippleCentered]="centered">
      D
    </div>
    <div (click)="openInfoDialog()" class="circle cursor-hover">?
      </div>
    <typeahead style="margin-top: 5px" #typeahead (badQuery)="badQuery($event)" (suggestionSelected)="filterQuery($event)"
      [list]="list" [displayProperty]="'label'" [searchProperty]="'label'"></typeahead>
    
   <div class="input-group margin-auto" style="text-align:center; max-width: 400px">
    <div class="input-group-prepend">
         <span class="input-group-text" id="basic-addon1">
         <i class="material-icons">room</i>
 
       </span>
     </div>
     <input type="text" class="form-control"  style="overflow: ellipsis !important; text-overflow: ellipsis !important;" aria-describedby="button-addon1"
     [(ngModel)]="address" value="{{address}}" (setAddress)="getAddress($event)" googleplace>
     
   </div>
    <div class="margin-left-auto margin-bot-0 height-auto" fxLayout="row" fxLayoutAlign="center center">
      <!-- <button mat-button style="color: white !important">Login</button>
      <button mat-button  style="color: white !important">Sign Up</button> -->

      <!-- <button mat-button  (click)="openLoginModal()" style="color: white !important">Sign In</button> -->
    </div>
  </div>
</div>
<div class="white" *ngIf="showBadQuery"> Your query
  <span class="italic">{{badQueryString}}</span> found no listings. Please try again. </div>

<div fxFlex *ngIf="searchDone" fxFlexAlign="start start">
  <router-outlet></router-outlet>
</div>
</div>
