/* You can add global styles to this file, and also import other style files */
​
#hello{
    background: red;
}
.red {
    color: red;
}
p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}
.pointer {
    cursor: pointer;
}

/**
 * BOX-SIZING
 */

/**
 * GRIDS
 */

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: Roboto, Arial, sans-serif;
}

/**
 * App code
 */
 a {
    color: #85D9BF;
 }
 .circle {
	border-radius: 50%;
	width: 20px;
    height: 20px;
    font-size: 19px;
    padding: 4px;
    margin: 10px;
    /* margin-bottom: 0px; */
    background: white; 
	/* width and height can be anything, as long as they're equal */
}
.block {
  display: block;
}
.border {
   border: 1px solid #ddd
}
.border-bottom {
  border-bottom: 1px solid #ddd
}

.border-right {
  border-right: 1px solid #ddd
}
.border-top {
  border-top: 1px solid #ddd
}
.hover {
    opacity: 3;
}
.hover:hover {
 opacity: 1
}
.material-text {
  color: #A6A6A6;
  font-family: Roboto, Arial, sans-serif
}
.mat-icon-button:hover {
   opacity: 1 !important; 
}
.margin-auto {
    margin: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-right-0 {
    margin-right: 0% !important;
}
.margin-left-0 {
    margin-left: 0% !important;
}
.margin-top-20 {
    margin-top: 20%;
}
.margin-top-10 {
    margin-top: 10%;
}

.margin-top-0 {
    margin-top: 0%;
}
.material-icons:hover {
    opacity: 1 !important;
}
.min-height-100 {
    min-height: 100%;
}
.height-100 {
    height: 100%;
}
.height-80 {
    height: 80%;
}
.height-10 {
    height: 10%;
}
.height-6 {
    height: 6%;
}
.height-92p5 {
    height: 94;
}
.height-auto {
    height: auto;
}
 html, body {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
    text-align: center;
 }
 
 /* .green-box {
    background-color:#85D9BF;
 }
 .green-box-small {
    background-color:#85D9BF;
    height:20%;
    padding-bottom: 5%;
    margin-bottom: -5%
 }

 .green-box-big {
    background-color:#85D9BF;
    height:100%;
 } */
 .white-background {
     background-color: white !important;
 }
 .green-background {
    background-color:#85D9BF;
 }
.material-icons {
    outline: none;
    border: none;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

 h1 {
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 5%;
 }

 .lowercase {
    text-transform: lowercase;
 }

h3 {
   text-align: left;
   text-decoration: underline;
   text-transform: none;
   font-size:30px;
   width: 100%;
   color: white;
   display: inline-block;
}

.padding-left-5 {
   padding-left: 5px;
}
.pagination-next:after{
    content: '' !important;
}
.pagination-next.disabled::after{
    content: '' !important;
}
.pagination-next.disabled{
  display: none;
}
.pagination-previous.disabled{
  display: none;
}
.pagination-previous::before{
    content: '' !important;
}
.pagination-previous.disabled::before{
    content: '' !important;
}
.show-for-sr::before{
    content: '' !important;
}
.show-for-sr::after{
    content: '' !important;
}
a::after {
    content: '' !important;
}
a::before {
    content: '' !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
.no-float {
    float: none;
}

.inline {
  display: inline;
}
input:focus {
  outline: none;
}
input {
  padding: 1px 15px 1px 15px;
}
.link:hover {
 outline: none;
 cursor: pointer;
}
.loading-position {
  margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid  #85D9BF; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.margin-auto {
  margin: auto;
}
.margin-1 {
  margin: 1%;
}
.margin-3 {
  margin: 3%;
}
.margin-left-1 {
  margin-left: 1%  !important;
}
.margin-left-auto {
    margin-left: auto;
  }
.margin-left-20 {
    margin-left: 20%  !important;
  }
  .margin-left-15 {
    margin-left: 15%  !important;
  }
  .margin-left-18 {
    margin-left: 18%  !important;
  }
.margin-right-1 {
  margin-right: 1%  !important;
}
.margin-top-neg-5 {
    margin-top: -2% !important;
  }

.widget-pane-toggle-button {
    width: 23px;
    height: 48px;
    margin-bottom:-48px !important;
    cursor: pointer;
    z-index: 10 !important;
    position: absolute;
    background: rgba(255,255,255,0.9);
    border-left: 1px solid #D4D4D4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.margin-bot-0 {
  margin-bottom: 0%;
}
.margin-bot-1{
  margin-bottom: 1%;
}
.margin-bot-3{
  margin-bottom: 3%;
}
.margin-top-0{
  margin-top: 0%;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-1{
  margin-top: 1% !important;
}

.mat-expansion-panel-header[aria-disabled=true]{
    color: rgba(0,0,0,.87) !important;
}
.mat-form-field-infix {
    border-top: 0px;
}
.mat-form-field {
    width: 100%;
}
.mat-form-field-infix {
    display: inline !important;
}
.mat-form-field-infix div {
    display: inline !important;
}
div .mat-form-field-infix {
    display: inline !important;
}

.mat-input-wrapper {
    display: inline !important;
}

.mat-expansion-indicator {
    display: none;
}
.noNav .mat-icon-button {
    display: none;
}

.overflow-hidden {
  overflow: hidden !important;
}
.overflow-scroll {
  overflow:scroll;
}
.padding-0{
  padding: 0px !important;
}
.padding-top-0{
    padding-top: 0px !important;
  }
.padding-1{
  padding: 1px !important;
}
.padding-1p5{
  padding: 1.5px !important;
}
.padding-1p75{
  padding: 1.75px !important;
}
.padding-2{
    padding: 2px !important;
}
.padding-5{
  padding: 5px !important;
}
.padding-left-5{
  padding-left: 5px !important;
}
.padding-right-5{
    padding-right: 5px !important;
  }
.padding-left-20{
  padding-left: 20px !important;
}
.padding-bottom-5{
  padding-bottom: 5px !important;
}
.padding-top-5{
  padding-top: 5px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.scroll {
  overflow-y: auto;
  overflow-x: auto;
}
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}

.yellow-background {
    background: #FCF8E3 !important;
}
.mat-dialog-container {
       /* background: #FCF8E3 !important;
       outline: white solid 10px !important;
       border: #ddd solid 1px !important; */
}
md-spinner {
    color: white;
}
.mat-input-ripple {
    background-color:white !important;
}
.mat-input-placeholder {
 color: white !important;
}

.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.white {
    fill: white !important;
    color: white !important;
}
.mat-focused  {
    fill: white !important;
    color: white !important;
}
.mat-input-underline .mat-focused {
    background-color: white;
}
.mat-input-wrapper {
    color: white !important;
}
.mat-input-container {
    color: white !important;
}
.mat-input-wrapper {
    color: white !important;
}
.mat-input-infix {
    color: white !important;
}
.mat-input-element {
    color: white !important;
}
.mat-focused {
    color: white !important;
}
.mat-input-wrapper {
    color: white !important;
}
img {
   width: 150px;
   height: 100px;
   min-width: 100px !important;
}
.logo {
    width: 20px;
    height: 20px;
    min-width: 20px !important;
}

.mat-form-field-underline { 
    background-color: white;
}
.text-green {
    color:#85D9BF;
 }
.z-index-3 {
    z-index: 3;
}
  
@media only screen and (max-width: 900px) {

}

@media (max-width: 600px) {
.mat-card-header {
    margin: 0 0 0 0 !important;
}
.mat-card {
    padding-left: 0px !important;
}
.mat-card-subtitle {
    margin-top: 0px !important;
}
}

@media only screen and (max-width: 640px) {

h3 {
    font-size: 30px;
}

.button {
    font-size: 13px;
}

}
