<div *ngIf="searchDone && !showDump" fxFlex="100" class="margin-auto"> 
  <mat-expansion-panel  style="background: rgb(255, 255, 255)" [disabled]="true" class="margin-auto z-index-3">
    <mat-expansion-panel-header>
      <mat-panel-title fxLayout="row" fxFlex="100">
        Showing results for&nbsp;<span class="italic bold">{{query}}</span><span [fxShow.xs]="false">&nbsp;nearest to your current location</span><span *ngIf="badQuery">.&nbsp;No listings for 
            <span class="italic bold">{{badQuery}}.</span>
           </span> <span fxFlex fxLayoutAlign="end"> Showing 1- <span *ngIf="this.finalData.length < 10">{{this.finalData.length}}</span><span *ngIf="this.finalData.length >= 10">{{pageSize}}</span>&nbsp; of {{this.finalData.length}} </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
<mat-card class="border-top padding-top-0 yellow-background margin-auto text-align-center overflow-scroll">
    <app-recycling *ngIf="showRecycling" [list]="displayedData"></app-recycling>
    <app-landfill *ngIf="showLandfill" [list]="displayedData"></app-landfill>
    <app-yelp *ngIf="showYelp" [list]="displayedData"></app-yelp>
    <mat-card-footer  >
      <mat-paginator style="background: rgb(255, 255, 255)" *ngIf="searchDone" [ngClass]="{'noNav': this.pages === 1}" [length]="finalData.length" [pageSize]="pageSize"  (page)="changePage($event);">
    </mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
<div *ngIf="searchDone && showDump" fxFlex.sm="95" fxFlex.md="80" fxFlex="68" class="height-100 margin-auto white"> 
  You were brought to this page because your item is either organic or otherwise unreusable or recylable. <br>You should dump it.
</div>
<div *ngIf="!searchDone">
<!-- <div *ngIf="!searchDone" style="background: white; height: 900px" class="height-100"> -->
<div class="margin-auto loader"></div>
</div>